<div class="news">
              
  <div class="news_head">
      <div class="news_title">Linkedln News</div>
      <i class="bi bi-info-square-fill" style="font-size:15px;"></i>
  </div>
  <br>

  <div class="new_list">
      <div class="act_title" style="display: flex;flex-direction: row;align-items: flex-start;"> 
          <i class="bi bi-record-fill" style="font-size:14px;margin-right:10px;display:block;margin-top:5px;"></i> 
          Indian crosses 3,58,974 daily cases
      </div>
      <div style="margin-left:25px;" class="account_name">10h ago - 5,043 readers</div>     
 </div>


  <div class="new_list">
      <div class="act_title" style="display: flex;flex-direction: row;align-items: flex-start;"> 
          <i class="bi bi-record-fill" style="font-size:14px;margin-right:10px;display:block;margin-top:5px;"></i> 
          Zomato files for $1.18 IPO
      </div>
      <div style="margin-left:25px;" class="account_name">13h ago - 52,043 readers</div>
  </div>
  <div class="new_list">
      <div class="act_title" style="display: flex;flex-direction: row;align-items: flex-start;"> 
          <i class="bi bi-record-fill" style="font-size:14px;margin-right:10px;display:block;margin-top:5px;"></i> 
          Jobs pay ,in IT soar
      </div>
      <div style="margin-left:25px;" class="account_name">1d ago - 7865 readers</div>     
 </div>

  <div class="new_list">
      <div class="act_title" style="display: flex;flex-direction: row;align-items: flex-start;"> 
          <i class="bi bi-record-fill" style="font-size:14px;margin-right:10px;display:block;margin-top:5px;"></i> 
          Google saving $1B a year from WFH
      </div>
      <div style="margin-left:25px;" class="account_name">2d ago - 7865 readers</div>
  </div>
</div>

<div class="news">

  <div class="news_head">
      <div class="news_title">Today's most viewed courses</div>
      <i class="bi bi-info-square-fill" style="font-size:15px;"></i>
  </div>
  <br>

  <div class="new_list">
      <div class="act_title" style="display: flex;flex-direction: row;align-items: flex-start;"> 
          <i class="bi bi-record-fill" style="font-size:14px;margin-right:10px;display:block;margin-top:5px;"></i> 
          Indian crosses 3,58,974 daily cases
      </div>
      <div style="margin-left:25px;" class="account_name">Top news 9874 - reviews</div>     
 </div>

  <div class="new_list">
      <div class="act_title" style="display: flex;flex-direction: row;align-items: flex-start;"> 
          <i class="bi bi-record-fill" style="font-size:14px;margin-right:10px;display:block;margin-top:5px;"></i> 
          Indian crosses 3,58,974 daily cases
      </div>
      <div style="margin-left:25px;" class="account_name">Top news 9874 - reviews</div>
  </div>
</div>

<div class="news">
  <div class="news_head">
      <div class="news_title act_title">Add to your feed</div>
      <i class="bi bi-info-square-fill" style="font-size:15px;"></i>
  </div>
  <br>
      <div class="account_feed">
          <img src="unilever.png" alt="no image" class="account_picture">
          <div class="account_info">
              <p class="act_title">Unilever</p>
              <p class="account_name">Company - Consuumer Goods</p>
              <div class="follow">
                  + Follow
              </div>
          </div>
      </div>
      <div class="account_feed">
          <img src="download.png" alt="no image" class="account_picture">
          <div class="account_info">
              <h4 class="act_title">Linkedln</h4>
              <p class="account_name">Company - internet</p>

              <div class="follow">
                  + Follow
              </div>
          </div>
      </div>
    
      <div class="account_feed">
          <img src="myntra.jpg" alt="no image" class="account_picture">
          <div class="account_info">
              <h4 class="act_title">Myntra</h4>
              <p class="account_name">Company - internet</p>

              <div class="follow">
                  + Follow
              </div>
          </div>
      </div>
</div>