<div class="post_item">
  <div class="post_item_header">
    <div class="post_item_info">
      <img src="myntra.jpg" alt="no image" class="post_profile" style="height:60px">
    <div class="post_item_owner" style="margin-left:8px;">
      <a href="#" class="act_title">Sebastián Bellido</a>
      <p class="account_name">792K Seguidores</p>
      <p class="account_name">Hace 5 minutos</p>
    </div>
    </div>
    <i class="bi bi-three-dots" style="padding:5px;" ></i>
  </div>

  <div class="post_item_body_info" >
    <p class="texto-publicacion">Esa interfaz está para tirar a la basura</p>
  </div>

  <div class="post_item_comment_info">
    <img src="1.svg" alt="">
    <img src="2.svg" alt="">
    <img src="3.svg" alt="">
    <span class="account_name">3 comentarios</span>
  </div>

  <div class="post_item_footer">
    <div class="footer_item">
        <i class="bi bi-hand-thumbs-up"></i> <div>Like</div>
    </div>
    <div class="footer_item">
        <i class="bi bi-chat-text"></i>   <div>Comment</div>
    </div>
    <div class="footer_item">
        <i class="bi bi-arrow-90deg-right"></i> <div>Share</div>

    </div>
    <div class="footer_item">
      
    <i class="bi bi-cursor-fill"></i> <div>Send</div>

    </div>  
  </div>
</div>