body {
    background-color: #fafafa;
    align-content: center;
    font-family: "Montserrat";
}

img#logo {
    padding: 0px;
    margin: 0px;
    width: 25px;
    height: 25px;
    margin: 10px 0px 0px 0px;
}

h1{
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 6px;
}

header {
    margin: 0px 0px 0px 0px;
    text-align: center;
    display: flex;
    color: blue;
}

.jugador1, .jugador2{
    padding: 5px 3px 5px 3px;
    border-radius:5px;
    margin: 5px 0px 5px 0px;
    text-align:center;
    font-family: "Montserrat";
    font-size: 15px;
}

ul{
    margin:3px 10px 3px 10px;
    padding:0px 0px 0px 0px;
}

div.jugador{
    text-align:center;
    margin: 10px 0px 0px 0px;
    font-family: cursive;  
    text-align:center;
}

p{
    text-align:center;
    margin: 8px 0px 0px 0px;
    padding: 2px 0px 2px 0px;
}

.dimensiones{
    padding: 5px 30px 5px 30px;
    margin: 0px 0px 5px 36px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 15px;
}

i {
    margin: 0px 0px 0px 0px;
    color: red;
}

.colores{
    padding:0px;
    border-radius: 6px;
    background-color:black;
    
    margin: 5px 30px 8px 81px;
   
}


footer {
    background-color: #504B83;
    color: white;
    text-align: center;
    display: flex;
}

/*.js-restart{
    margin: 5px;
    cursor: pointer;
    justify-self: right;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background: rgba(235, 10, 10, 0.7);
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}*/





footer {
    margin-top: 10px;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
}



.btn {
    background-color: white;
    color: #504B83;
    border: 1px solid #504B83;
    border-radius: 10px;
    padding: 10px;
    font-family: "Montserrat";
    transition: 0.3s;
    margin: 5px 0px 0px 22px;
    font-size: 15px;
}

.btn:hover {
    background-color: #504B83;
    color: white;
}

#game {
    width:221px;
    height: 600px;
    display: flex;
}

i {
    margin-right: 5px;
}

#canvas {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
    margin: 0px 0px 0px 0px;
}

#timer {
    font-size: 45px;
    color: #504B83;
    margin-top: 0px;
}

#msj {
    color: #504B83;
    font-size: 24px;
    font-weight: 600;
}

.textPlayer{
    font-family: cursive;
    margin:62px
}

p{
    margin: 10px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    font-family: cursive;  
    text-align:center;
}

.subrayado{
    text-decoration: underline;
    margin: 0px 0px 5px 0px;
}



#tokens button {
    background-color: #fafafa;
    border: none;
    margin: 0px 10px 0px 14px;
    width: 45px;
    height: 45px;
    padding: 0px;
    
}

#tokens img {
    width: 45px;
    height: 45px;;
}

#tokens div {
    display: flex;
}


.fichines:hover {
    transform: scale(1.4);
    transition: all 300ms ease-in;
    
}

#timer-title {
    margin-bottom: 5px;
}
