:root {
  --blanco: #f7f7f7;
  --gris-claro: #dbdbdb;
  --gris: #999;
  --gris-oscuro: #555;
  --negro: #070707;

  --violeta: #c877ef;
  --rojo-claro: #ed4756;
  --rojo-fuerte: #ee2727;
  --azul: #3898F3;
  --azul-marino: #306197;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

/*
----------------------------------------------------NAV
*/

nav{
  min-width: 1024px;
  max-width: 1400px;
  width: 100%;
  z-index: 10;
  border-bottom: solid #dbdbdb 1px;
  background: #fff;
  position: sticky; 
  top: 0;
}
.nav-cont{
  
  width: 82%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.cont-input{
  position: relative;
  height: 28px;
  width: 328px;
  border: solid 1px #dbdbdb;
  display: flex;
  align-items: center;
  background: #fafafa;
  padding: 5px;
  border-radius: 10px;
  overflow: visible;
}
.cont-input input{
  border: 0;
  outline: none;
  padding-left: 1ch;
  background: #fafafa;
}

.cont-input, input * {
  font-size: 10pt;
}

.count-input input:focus {
  width: 800px !important;
}

.cont-input .lupa{
  height:20px; 
  width:20px;
  Left: 12px;
}

.busqueda-avanzada {
  width: 328px ;
  position: absolute;
  top: 3em;
  left: 24.5em;
  background: #c877efdd;
  padding: 10px;
  border-radius: 10px;
}

.busqueda-avanzada-row {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.busqueda-avanzada-row * {
  margin: 1ch 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.busqueda-avanzada input, select {
  text-align: center;
  font-size: 10pt;
  height: 2em;
  /* height: */
  background: #fafafa;
  color: var(--gris-oscuro);
  font-weight: 500;
  border: var(--gris) 1px solid;
  border-radius: 2px;
}

.busqueda-avanzada input {
  padding: 0 1ch;
}

.busqueda-avanzada select {
  text-align: center;
}

.busqueda-avanzada select * {
  color: var(--gris-oscuro);
}

.busqueda-avanzada a {
  text-decoration: none;
  color: var(--gris-oscuro);
  font-weight: 800;
  background: var(--blanco);
  padding: 0.5em;
  border-radius: 5px;
}

nav *.iconos img {
  filter: saturate(0) brightness(112%);
  padding-bottom: 1pt;
}

nav *.iconos img:not(.small-logo):hover {
  filter: saturate(1.75) brightness(87%);
}

nav *.iconos img.small-logo:hover {
  filter: saturate(1) brightness(100%);
}

.iconos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.iconos *  {
  display: flex;
  flex-direction: column;
}

.iconos img{
  margin-left: 20px;
  cursor: pointer;
  fill:#262626;
  height:25px; 
  width:auto;
}
.iconos .small-logo{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.boton-nav-resaltado {
  box-shadow: 0 2pt var(--gris-oscuro);
  /* margin-bottom: 2pt; */
  /* border-bottom: 2pt solid var(--gris-oscuro); */
}

/**
--- MENÚ MORE ---
*/

.contenedor-menu-more {
  position: relative;
}

.post-menu-more ul {
  position: absolute;
  width:max-content;
  z-index: 1;
  top: 10;
  padding: 1rem;
  right: -224px;
  background: #f7f7f7;
  border-radius: 10px;
  list-style: none;
}

.post-menu-more ul > li {
  line-height: 2em;
}

.contenedor-menu-more a {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9;
}

.invisible {
  z-index: -1;
  display: none;
}
.visible {
  z-index: 1;
}