.a{
    /* display: flex;
    justify-content: center; */
}

.pos{
    position: absolute;
    height: 75%;
    width: 100%;
    padding: 8rem 9.5rem;
    /* padding: 37%; */
    /* width: 240px;
  height: 428px;  */
    margin: auto auto;
}

 .pos .ac{
    width: 7rem;
    height: 7rem;
    /* border: salmon solid 1px; */
    /* top: 35%;
    left: 35%; */
    transition: 1s;
    /* top: 100px;
    left: 80%; */
    
}

.pos .ac img{
    width: 100%;
    height: auto;
    transition: 1s;
}

.pos .ac:hover{
    transform: rotate(360deg);
   
} 

.pos .ab{
    width: 12rem;
    height: 12rem;
    background-size: contain;
    background-image: url(../img/images_login/a.png);
    z-index: -1;
    /* /* margin: auto auto; */
    position: absolute;
    top: 5.5rem;
    left: 7rem;
    border-radius: 80px;
    animation: parallax 5s linear infinite;
}





@keyframes parallax {
    0% {
    background-position-x: 0px;
    }
    100% {
      background-position-x: 12rem;
    }
}
    
    

    
    
    .circuloGradiente {
        z-index:0;
        position: absolute;
        top: 0px; right: 0; bottom: 0px; left: 0;
        background: radial-gradient(circle at var(--x, 50%) var(--y, 37%), hsl(315, 80%, 73%) 25%, rgba(0,0,0,0) 40%);
        
      
    }
