@import url('http://fonts.cdnfonts.com/css/roboto');

:root{
    --color_btn_config:#262626;
    --color-body: #F0F0F0;
    --color-blanco: #FFFFFF;
    --color-linea: #DBDBDB;

    --blanco: #f7f7f7;
    --gris-claro: #dbdbdb;
    --gris: #999;
    --gris-oscuro: #555;
    --negro: #070707;

    --violeta: #c877ef;
    --rojo-claro: #ed4756;
    --rojo-fuerte: #ee2727;
    --azul: #3898F3;
    --azul-marino: #306197;
}
* {
 
  padding: 0;
  font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: "Roboto";
    background-color: #EAEAEA;
}





/*-------------------------------------------------IZQUIERDA----------------------------------------------*/

.container{
    width: 83%;
    margin: auto auto;
    display: flex;
     justify-content: space-between;
     padding: 13px 0;
}

.right-sidebar{
    flex-basis: 30%;
    position: sticky;
    top: 63px;
    align-self: flex-start;

    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content{
     flex-basis: 75%;
     padding-right: 2%;
}


/*-------------------------------------------------DERECHA--------------------------------------------------*/

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2ch;
}

.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}

.right-sidebar hr{
    margin: 2ch 0;
    opacity: 50%;
}

.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p{
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;

}

.foto{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after{
    top: unset;
    bottom: 5px;
}

.online{
    position: relative;
}

.online::after{
    content:'';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}


/*-----------------------------------------CENTRO--------------------------------------*/

.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;

}

.user-profile small{
    font-size: 12px;
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
    justify-content: end;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;
    filter: saturate(0) brightness(125%);
}

.add-post-links a img:hover{
    filter: saturate(1.75) brightness(87%);
}

.add-post-links a svg:hover{
    stroke: red;
}

.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.post-username {
    font-size: 12pt;
    line-height: 1.5em;
}

.post-timestamp {
    font-size: 10pt;
    color: #999;
}

.puntuacion {
    text-align: center;
    margin: 0 auto;
    padding: 0 1ch;
    color: #C877EF;
    filter: brightness(87%);
    font-weight: 999;
}

.post-row a img{
    width: 24px;
    height: 24px;
}

.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-img{
    width: 100%;
    height: 100%;
    margin-bottom: 2px;
    border-radius: 4px;
    margin-bottom: 5px;
    object-fit: cover;
}

/** PUBLICACIÓN GALERÍA **/
.img-gallery {
    display: grid;
    grid: 
    'img1 img1 img1'
    'img1 img1 img1'
    'img2 img3 img4';
    grid-gap: 5px;
    margin-bottom: 1ch;
}

.img1 {
    grid-area: img1;
}
.img1 img, .img2 img, .img3 img, .img4 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4 {
    grid-area: img4;
}

.post-row{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img{
    height: 100%;
    width: auto;
    margin: auto 0;
}

.activity-icons div a {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.activity-icons div a img {
    display: flex;
    flex-direction: column;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.activity-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}


/*------------------------------------------------------------------------
-------------------------------- FOOTER ----------------------------------
------------------------------------------------------------------------*/

.footer {
    padding-bottom: 52px;
    padding-top: 24px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.links a {
    text-decoration: none;
    color: var(--txtSecundarios-color);
    font-size: 13px;
    line-height: 18px;
    margin: 0 8px 12px 8px;
}

.copyright {
    padding: 12px 0;
    color: var(--txtSecundarios-color);
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}