body {
  margin: 0;
  padding: 0;
  background: rgb(55, 50, 65) !important;
  font-family: serif !important;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// PRINCIPAL AVATAR ////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Avatar */
#avatar {
  position: absolute;
  z-index: 1;
  width: 93px;
  height: 140px; /*es la altura del muñeco*/ 
}

/*animacion de correr*/
.run {
  background-size: 930px 140px !important; 
  width: 93px; /*es lo que mide c/ muñeco*/
  height: 140px; /*es la altura del muñeco*/
  /*velociodad de correr*/ /*steps son la cantidad de figuras*/
  background: url(../images/correr.png);
  animation: run 0.6s steps(10) infinite;
}
@keyframes run {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -930px;
  } /*930 es el ancho de la imagen del runner*/
}

/*Animacion de salto*/
.jump {
  background-size: 953px 143px !important; 
  background: url(../images/jump_ninja.png)left center no-repeat ;
  animation: jump 1.2s steps(10) forwards;
}

@keyframes jump {

  /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
  0% {
    bottom: 0%;
  }
  25% {
    bottom: 25%;
  }
  
  50% {
    bottom:50%;    
  }
  
  75% {
    bottom: 25%;  
  }

  100% {
    bottom: 0%;
    background-position: -953px;
  }
  
}

/*Animacion de explotar*/
.die {
  background-size: 1152px 92px !important;
  background: url(../images/death_ninja.png) left center;
  height: 100px !important;
  width: 92px;
  animation: death 1.5s steps(12);
}

@keyframes death {
  from {
    background-position: 0;
  }

  to {
    background-position: -1152px;
  }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// OBSTACULOS //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#pinche {
  position: absolute;
  bottom: 600px;
  left: 50px;
  width: 162px;
  height: 701px;
  background: url(../images/pinches.png);
  z-index: 1;
}
.pdrop {
  /*transición con velocidad variable de principio a fin*/
  animation: sdrop 10s cubic-bezier(0.2, 0.4, 0.4, 0.9) infinite;
}
@keyframes sdrop {
  0% {
    bottom: 500px;
  }
  30% {
    bottom: 5px;
  }
  60% {
    bottom: 500px;
  }
  100% {
    bottom: 500px;
  }
}

/* Cuervo */

#cuervo {
  background-image: url(../images/cuervo.png);
  position: absolute;
  transform: scaleX(-1); /*doy vuelta al cuervo*/
  width: 80px;
  height: 60px;
  bottom: 55px;
  right: -100px;
  background-size: 750px 240px;
  filter:drop-shadow(1px 1px 2px rgba(255,255,255,0.5));
}
.crowMove {
  animation: crowMove 2.3s steps(9) infinite;
}
@keyframes crowMove {
  0% {
    background-position: 0 0px;
    right: 0%;
  }
  20% {
    background-position: -750px 0px;
    right: 20%;
  }
  40% {
    background-position: 0 0px;
    right: 40%;
  }
  60% {
    background-position: -750px 0px;
    right: 60%;
  }
  80% {
    background-position: 0 0px;
    right: 80%;
  }
  100% {
    background-position: -750px 0px;
    right: 95%;
  }
}

/* moneda */
.moneda {
  background: url(../images/moneda.png);
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 50%;
  right: 100px;
  background-size: 50px 50px;
  animation: mover 7s linear infinite;
}

/*Al no ser un sprite-sheet le genero una rotacion por defecto*/
@keyframes mover {
  0% {
    transform: rotateY(0);
    right: 0%;
  }
  20% {
    transform: rotateY(360deg);
    right: 20%;
  }
  40% {
    transform: rotateY(0);
    right: 40%;
  }
  60% {
    transform: rotateY(360deg);
    right: 60%;
  }
  80% {
    transform: rotateY(0);
    right: 80%;
  }
  100% {
    transform: rotateY(360deg);
    right: 95%;
  }
}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// CONTENEDORES ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*layer es el de los arboles*/
.contenedorBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto auto; /*queda centrado*/

  /*ancho y alto de la imagen de los arboles*/
  width: 1024px;
  height: 556px;
}

.capaUno {
  overflow: hidden;
  background-size: 100%;
  z-index: -1; /*hago que la imagen quede atras del muñeco*/
  animation: parallax 5s linear infinite;
}


.capaSiete {
 
  background-size: cover;
  z-index: -7;
  animation: parallax 0s;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 1);
}
.capaSiete_2 {
 
  background-size: cover;
  z-index: -7;
  animation: parallax 0s;
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 1);
}

.capaSeis {
  background-size: cover;
  z-index: -6;
  animation: parallax 180s linear infinite;
}
.capaSeis_2 {
  
  background-size: cover;
  z-index: -6;
  animation: parallax 350s linear infinite;
}
.capaCinco {
 
  background-size: cover;
  z-index: -5;
  animation: parallax 100s linear infinite;
}

.capaCinco_2 {
 
  background-size: cover;
  z-index: -5;
  animation: parallax 100s linear infinite;
}

.capaCuatro {
 
  background-size: cover;
  z-index: -4;
  animation: parallax 50s linear infinite;
}


.capaTres {
 
  background-size: cover;
  z-index: -3;
  animation: parallax 100s linear infinite;
}

.capaDos_2 {
  
  background-size: cover;
  z-index: -2;
  animation: parallax 10s linear infinite;
}

.capaDos {
  
  background-size: cover;
  z-index: -2;
  animation: parallax 10s linear infinite;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// PARALLAX  ///////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Separamos las escenas en capas*/
@keyframes parallax {
  100% {
    background-position-x: -1024px;
  }
}



/*////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// POPUP ///////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Menu emergente*/
/* Menu */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  display: block;
}
.popup-content {
  position: fixed;
  width: 60%;
  height: 87%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto; 
  border: 3px solid white;
  font-size: 24px;
  text-align: center;
  color: white;
}
.popup-content p,h4 {
  font-size: 18px;
  font-family: sans-serif;
}
.botonEmpezar {
  border: 3px solid rgba(255,255,255,1);
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  background: none;
}

.botonEmpezar:not(.bloqueado):hover {
  transition: 500ms all ease;
  background-color: blue;
  border-color: transparent;
}

.bloqueado {
  color: gray !important;
  background-color:#333;
  background-blend-mode: overlay;
}
 


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// PUNTAJE /////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#puntaje {
  padding: 10px;
  font-size: 20px;
  position: absolute;
  left: 1%;
  top: 1%;
  color: white;
  z-index: -1;
}

#scoreContainer {
  padding: 10px;
  font-size: 20px;
  position: absolute;
  right: 1%;
  top: 1%;
  color: white;
}

.button2.play {
  border-style: solid;
  border-width: 15px 0 15px 33px;

}

.button2 {
  border: 0px;
  box-sizing: border-box;
  background: transparent;
  width: 0px;
  height: 32px;
  z-index: 9;
  position: absolute;
  top: 10;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  border-color: transparent transparent transparent white;
  transition: 1000ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 33px;
}

.button2:hover {
  border-color: transparent transparent transparent white;
}

.menus{
  margin: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;

}

.escenarioEleccion {
  padding-top: 12px;
  background: rgba(255, 201, 52, 0.05);
  border-radius: 12px;
}

.escenarioEleccion:hover {
  background: rgba(255, 201, 52, 0.75);  
}

.escenarioEleccion:active {
  background: rgba(255, 223, 127, 0.75);  
}

.seleccionado {
  background: rgba(255, 191, 127, 0.37) !important;  
}

.divTutorial {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 996px;
  height: 560px;
  background-color: rgba(0,0,0,0.95);
  background-image: url('../images/tutorial.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.btnTutorial{
  border: 3px solid white;
  background: transparent;
  padding: 5px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 15px;
 
}

.btnTutorial:hover {
  border-color: transparent transparent transparent transparent;
  transition: 500ms all ease;
  background-color: blue;
}

.divGanador {
  position: absolute;
  width: 60%;
  height: 87%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 5%;
  line-height: 1.5em;
  text-align: center;
  text-shadow: 2px 2px 4px;
  background-color: rgba(0,0,0,0.5);
  border: solid 3px white;
}

.divGanador h1 {
  color: red;
}
.divGanador h4 {
  color: white;
}

.divGanador h2 {
  background: yellow;
  text-shadow: 1px 1px 2px;
  width: fit-content;
  min-width: 1em;
  margin: 0 auto;
  border-radius: 12px;
  color: black;
}

.divGanador button {
  font-size: larger;
}