body {
    margin: 0;
    padding: 0;
    background: rgb(55, 50, 65);
}

/* Avatar */
#avatar {
    border: 1px salmon solid;
    position: absolute;
    z-index: 1;
    width: 93px; 
    height: 140px; /*es la altura del mu単eco*/
    /* display: none; */
}

/*animacion de correr*/
.run {
    width: 93px; /*es lo que mide c/ mu単eco*/
    height: 140px; /*es la altura del mu単eco*/
    /*velociodad de correr*/ /*steps son la cantidad de figuras*/
    background: url(../images/correr.png);
    animation: run 0.6s steps(10) infinite;
}
@keyframes run {
    from {background-position-x: 0px;}
    to {background-position-x: -930px;} /*930 es el ancho de la imagen del runner*/
}




/* Layers */

/*layer es el de los arboles*/
.contenedorBackground {
    position: relative;
    margin: 0 auto; /*queda centrado*/
    margin-top: 10px;

    /*ancho y alto de la imagen de los arboles*/
    width: 1024px;
    height: 576px;
}

.capaUno {
    background: url(../images/background/hl5.png);
    background-size: 100%;
    z-index: -1; /*hago que la imagen quede atras del mu単eco*/
    animation: parallax 5s linear infinite;
}

.capaSeis {
    background: url(../images/background/estrellas.png);
    background-size: cover;
    z-index: -6;
    animation: parallax 180s linear infinite;
}

.capaSiete {
    background: url(../images/background/Luna-del-Cazado.jpg);
    background-size: cover;
    z-index: -7;
    animation: parallax 360s linear infinite;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,1);
}

.capaTres {
    background: url(../images/background/a.png);
    background-size: cover;
    z-index: -1;
    animation: parallax 100s linear infinite;
}

.capaDos {
    background: url(../images/background/dos.png);
    background-size: cover;
    z-index: -2;
    animation: parallax 25s linear infinite;
}

@keyframes parallax {
    100% {background-position-x: -1024px;}
}

